body {
    background-color: black;
}
#container {
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: absolute;
}
.column {
    background-color: rgb(128, 128, 128);
    top: 0px;
    max-height: 100%;
    position: absolute;
}
.vertical_center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.tile {
    position: absolute;
    z-index: 998;
    opacity: 0.1;
}
.wall_tile {
    background-color: teal;
}
.floor_tile {
    background-color: grey;
}
.player {
    background-color: red;
    z-index: 999 !important;
}
#canvas {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    color: red;
    z-index: 1000;
    overflow: hidden;
}
.coordinate_marker {
    width: 5px;
    height: 5px;
    background-color: red;
    position: absolute;
    z-index: 1001;
}
#sky {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(38, 38, 38) 100%);
    width: 100vw;
    height: 50%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 0;
}
#floor {
    background: rgb(0,0,0);
    background: linear-gradient(170deg, rgba(0,0,0,1) 0%, rgb(38, 38, 38) 100%);
    width: 100vw;
    height: 50%;
    top: 50%;
    left: 0px;
    position: absolute;
    z-index: 0;
}